.navbar {
  height: 65px;
  box-shadow: 1px 5px 18px 0px #6666667f;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.navContainer {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.logo {
  height: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo h1 {
  font-weight: 800;
  height: 38px;
  font-size: 38px;
  margin-left: 4px;
  margin-bottom: 0;
  font-family: "Alkatra", system-ui;
}

.navList {
  margin-bottom: 0;
  height: inherit;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.navItem {
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px 14px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItem::before {
  content: "";
  height: 3px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
  display: block;
  position: absolute;
  margin-top: 2px;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

.navItem:hover::before {
  transform: scale(1);
}

.navItemBg {
  background-color: var(--primary-light);
  transition: all 0.3s;
}

.navItemBg:hover {
  background-color: var(--primary-medium);
}

.navItemBg::before {
  display: none;
}

.navItem:not(:last-child) {
  margin-right: 30px;
}

.icon {
  padding-bottom: 1px;
  margin-right: 8px;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: var(--primary-color);
}

.drawerContainer {
  min-width: 350px;
  max-width: 450px;
}

.drawerMenu {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
}

.drawerItem {
  width: 200px;
  border-radius: 12px;
  padding: 5px 8px 5px 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--primary-color);
}

.drawerItem:hover {
  background-color: var(--primary-light);
}

.drawerIcon {
  padding-bottom: 3px;
  padding-right: 13px;
}

.listItem {
  list-style: none;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  margin: 15px;
  font-size: 34px;
  cursor: pointer;
  justify-self: right;
}

.menuItem {
  font-size: 2rem;
  padding: 3px 18px !important;
  margin-bottom: 8px;
}

.avatar {
  background-color: #000;
}

.avatarIcon {
  font-size: 22px;
  font-weight: bold;
}

.menuImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

@media screen and (max-width: 1000px) {
  .navList {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 368px) {
  .drawerContainer {
    min-width: 90%;
  }
}
