.container {
  border-radius: 16px;
  background-color: #eee;
  padding: 16px;
  position: relative;
  margin: 0 12px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
}

.label {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  transform: translate(8px, -65%);
  padding: 1px 8px;
  border-radius: 12px;
  color: #fff;
}

.content {
  height: 200px;
  overflow-y: scroll;
  font-weight: 400;
  font-size: 15px;
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.leftIcon {
  margin-right: 12px;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}
